@import "tailwindcss/base";
@import "tailwindcss/components";

@import "../tailwind/components.css";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --main-background: theme(colors.main-bg);
    --footer-background: theme(colors.footer-bg);
    --content: theme(colors.content);
    --heading-color: theme(colors.heading-color);
    --white: theme(colors.white);
    --black: theme(colors.black);
    --success: theme(colors.success);
    --warning: theme(colors.warning);
    --error: theme(colors.error);
    --info: theme(colors.info);
    --neutral: theme(colors.neutral);
    --accent: theme(colors.accent);
    --secondary: theme(colors.secondary);
    --base-25: theme(colors.base-25);
    --base-50: theme(colors.base-50);
    --base-75: theme(colors.base-75);
    --base-100: theme(colors.base-100);
    --base-200: theme(colors.base-200);
    --base-300: theme(colors.base-300);
  }

  body,
  html {
    background-color: var(--main-background);
    color: var(--content);
    font-family: var(--font-cabin);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
  }
}
